body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: lightgrey;
  color: #fff;
}

.gridster .gridster-item {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #004756;
  background: #ffffff;
  padding: 5px;
}

.red {
  color: red; 
}

.game-title {
  color: black;
}

.game-box {
    height: 100%;
}
/*.blockcolor-red {
  background-color: red;
}
.blockcolor-blue {
  background-color: blue;
}*/
.blockcolor-a {
  background-color:#3366cc;
   }
   
.blockcolor-b {
  background-color:#dc3912;
   }
.blockcolor-c {
  background-color:#ff9900;
   }
.blockcolor-d {
  background-color:#109618;
   }
.blockcolor-e{
  background-color:#990099;
   }
.blockcolor-e{
  background-color:#0099c6;
   }
.blockcolor-f{
  background-color:#dd4477;
   }
.blockcolor-g{
  background-color:#66aa00;
   }
.blockcolor-h{
  background-color:#b82e2e;
   }
 .blockcolor-i{
background-color:#316395;
   }
    .blockcolor-j{
background-color:#3b3eac;
   }
    .blockcolor-k{
background-color:#5574a6;
   }
 
     