<!--http://coderdiaries.com/2014/03/09/drag-and-drop-with-angularjs/-->
<div class="container">
<div class="row">
  <div id="items" class="col-md-6">
    <div style="border-bottom: 2px solid black">
      <b>Items</b> <span>{{items.length + " items left."}}<span>
    </div>
    <div ng-repeat="item in items">
      <!-- usage of the Draggable directive -->
      <div dd-draggable="true" class="item" itemid="{{item.id}}">{{item.id}}. {{item.name}}</div>
    </div>
  </div>
  <!-- usage of the DropTarget directive -->
  <div id="dropbox" dd-drop-target="true" class="col-md-6">
    <div style="border-bottom: 2px solid black">
      <b>Dropbox</b> <span>{{dropped.length + " items dropped."}}<span>
    </div>
    <div ng-repeat="item in dropped">
      <div class="item">{{item.id}}. {{item.name}}</div>
    </div>
  </div>
  </row>
  </container>