<div class="container">
<div class="class="game-container">
  <h2 class="game-title">Arrange Me Game</h2>
  <input type="button" class="btn btn-default" ng-click="randomize()" value="Randomize" />
  <input type="button" class="btn btn-default" ng-click="solve()" value="Solve" />

  <span class="red"><span ng-show="solved"><i class="fa fa-heart"></i> solved</span> &nbsp;
  </span>
  </p>
  <div gridster="gridsterOpts">
    <ul>
      <li gridster-item="item" ng-repeat="item in displayLayout">
        <div class="blockcolor-{{item.blockcolor}} game-box"></div>
        <!--<input type="text" integer-g ng-model="item.row" size="1" />,
        <input type="text" integer-g ng-model="item.col" size="1" />
        <br />
        <input type="text" integer-g ng-model="item.sizeX" size="1" />x
        <input type="text" integer-g ng-model="item.sizeY" size="1" />
        <br>-->
        <!--<span>{{item.val}}</span>-->
      </li>
    </ul>
  </div>


</div>
</div>