body {
    margin:0;
    padding:0;
}
#container {
    display:flex;
    flex-direction:column;
}

header, article, nav, aside, footer{
    margin: 5px;
    border-radius: 5px;
}
header, footer {
    background-color: lightgray;
    padding: 10px;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-item {
    max-width: 50%;
}
article {
    background-color; white;
    min-height: 300px;
}
nav, aside {
    background-color: black;
}
nav, aside, header, footer {
    min-height: 80px
}
nav {
    color: gold;
}
@media all and (min-width:600px){
    #container {
        flex-direction: row;
        min-height: 500px;
    }
    article {
        flex: 3;
    }
    nav {
        flex: 1;
        order: -1;
    }
    aside {
        flex: 1;
    }

}